PORT=3333
NODE_ENV=development
BRIDGE_SECRET=

SSO_USERNAME=22970032
SSO_PASSWORD=!!Bopeng18
SSO_TOTP_SECRET=BHETNU5R3BIMWLQURQFASQXINRHSFXYG

# =======================
# PEDULI INFRA BOT
# =======================
INFRA_BOT_TOKEN=
INFRA_GROUP_ODP=
INFRA_GROUP_OTHER=


# Telegram Configurations
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DATEK_BOT_TOKEN=
DATEK_CHAT_ID=
